streamlit
networkx
pydot
pygraphviz
#python3 -m pip install \
#    --global-option=build_ext \
#    --global-option="-I$(brew --prefix #graphviz)/include/" \
#    --global-option="-L$(brew --prefix graphviz)/lib/" \
#    pygraphviz

#brew install graphviz
